mainmenu "OpenP1 application"

config OPENP1_SIM_DATA_ENABLED
  bool "Create some simulated data"
  default y

choice OPENP1_DATA_SOURCE
  bool "Choice of data source"
  default OPENP1_UART_DATA_SOURCE

config OPENP1_UART_DATA_SOURCE
  bool "Read data from UART"
  depends on OPENP1_SERIAL

config OPENP1_SIM_DATA_SOURCE
  bool "Read data directly from simulator"
endchoice

config OPENP1_SERIAL
  bool "Receive data from UART"
  default y

config OPENP1_SIM_UART_OUT
  bool "Send dummy data over tx line"
  default y
  depends on OPENP1_UART_DATA_SOURCE

config OPENP1_IGNORE_UNKNOWN
  bool "Ignore unknown OBIS fields"
  default y

config OPENP1_IGNORE_PARSING_ERRORS
  bool "Ignore fields with parsing errors"
  default y

choice OPENP1_SOCKET_TYPE
  bool "Socket type"
  default OPENP1_UDP

config OPENP1_TCP
  bool "Use TCP socket"
  depends on NET_TCP

config OPENP1_UDP
  bool "Use UDP socket"
  depends on NET_UDP
endchoice

config OPENP1_HOSTNAME
  string "Hostname"
  default "blep-device"

config OPENP1_SRP_INSTANCE_NAME
  string "SRP instance name"
  default "OPENP1 device name"

config OPENP1_LOG_TCP
  bool "Use TCP server for sending logs"
  default y

source "Kconfig.zephyr"

